<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Calcular Salario</title>
</head>
<body>
    <div class="container">
        <h1> Calcular Salario </h1>
        <form class="form-cadastro"> 
            <input class="input-text" type="text" name="Nome" placeholder=" Horas trabalhadas">
            <input class="input-text" type="text" name="Horas" placeholder=" Dias trabalhados">
            <select class="combo-box">

            </select>
        </form>
        
    </div>
</body>
</html>